@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-manrope-medium;
  }
}

@layer base {
  :root {
    --background: #f5f5fc;
    --foreground: #121021;
    --card: #fbfbff;
    --card-foreground: #0a0a0b;
    --popover: #ffffff;
    --popover-foreground: #0a0a0b;
    --primary: #0e073d;
    --primary-foreground: #fafafa;
    --secondary: #d6d6d61a;
    --secondary-foreground: #6e6a8b;
    --muted: #efedfd;
    --muted-foreground: #8985a2;
    --accent: #f4f4f5;
    --accent-foreground: #5935e9;
    --destructive: #e11d48;
    --destructive-foreground: #fafafa;
    --border: #e6e6eb;
    --border-muted: #e6e6eb80;
    --border-dashed: #5935e94d;
    --input: #e6e6e7;
    --ring: #1a1a1c;
    --radius: 0.5rem;
  }

  .dark {
    --background: #0a0a0b;
    --foreground: #fafafa;
    --card: #0a0a0b;
    --card-foreground: #fafafa;
    --popover: #0a0a0b;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #1a1a1c;
    --secondary: #27272a;
    --secondary-foreground: #fafafa;
    --muted: #27272a;
    --muted-foreground: #a1a1aa;
    --accent: #27272a;
    --accent-foreground: #fafafa;
    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;
    --border: #27272a;
    --border-muted: #27272a80;
    --input: #27272a;
    --ring: #d4d4d8;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
